<!DOCTYPE html>
<html>
<head>
	<title>VMS</title>
  <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Pacifico&family=Playfair+Display:ital,wght@1,500&display=swap" rel="stylesheet">
	    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	 <link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	
	<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"> -->
	
	<!-- <style type="text/css">
		  #landing-header {
			  color:white;
			  z-index: 1;
			  position: relative;
			  text-align: center;
			  padding-top: 14rem;
    		  padding-bottom: 17rem; 
			}
		/* header.masthead {
			  padding-top: 10.5rem;
			  padding-bottom: 6rem;
			  text-align: center;
			  color: #fff; */
			  /* background-image: url("https://image.freepik.com/free-photo/watercolor-splash-background_23-			2148175602.jpg"); */
			  /* background-image: url("https://c4.wallpaperflare.com/wallpaper/992/950/442/white-gray-gradation-blur-wallpaper-preview.jpg"); */
			  /* background-repeat: no-repeat;
			  background-attachment: scroll;
			  background-position: center center;
			  background-size: cover;
			  padding-top: 14rem;
    		  padding-bottom: 17rem; */
			/* } */
		
/* 		Background Slider */
		
				
.slideshow { 
  /* position: fixed; */
  width: 80%;
  height: 60%;
  top: 0;
  left: 0;
  bottom:10;
  list-style: none;
  margin: 0;
  padding: 0px;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover; 
  background-position: 50% 50%; 
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.adsttc.com/media/images/5645/3e2a/e58e/ce94/e500/020b/slideshow/Virmueller_Ahmedabad_11th_April_2015_%C2%A9_andr%C3%A9_j_fanthome0093b.jpg?1447378459) 
}
		
.slideshow li:nth-child(2) { 
  background-image: url(https://pbs.twimg.com/media/DcmR_FLXcAEF2Cz.jpg);
  animation-delay: 6s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.shiksha.com/mediadata/images/1488871812phpVZx9ed.jpeg);
  animation-delay: 12s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://ahduni.edu.in/assets/images/campus/campus4.jpg);
  animation-delay: 18s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://ahduni.edu.in/assets/images/default/default18.jpg);
  animation-delay: 24s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
.no-cssanimations .slideshow li {
    opacity: 1;
}
		
/* 		Background Slider Finish */
		
		
/* 	This is for Home Page	 */
		h1 {
		    font-weight: 500;
			font-size: 5em;
			font-family: 'Oswald', sans-serif;
			color :#d7f7f6;
		}
		h2 {
		    font-weight: 400;
			font-size: 4em;
			font-family: 'Oswald', sans-serif;
			color :#d7f7f6;
		}
		.jumbotron.purpose{
			margin-right:25px;
		}
		.jumbotron.aboutus{
			margin-left:25px;
		}
		
		
/* 	Css for navbar	 */
		#main-navbar .navbar-brand{
			color : #EA1C2C;
			font-size: 2rem;
			font-weight: 120;
		}
		#main-navbar{
			font-size: 2rem;
			font-weight: 120;
			
			
		}
		#main-navbar .nav-link{
			color: white;
			font-weight:90;
		}
		#main-navbar .nav-link:hover {
			color: red;
		}
		.content {
			margin-bottom: 50px;
		}
		#srheading h2 {
			font-size: 50px;
			font-weight: 100;
			color: #0c7475;
		}
		#srheading p {
			font-size: 20px;
			font-weight: 100;
			color: black ;
		}
		#frheading h2 {
			font-size: 50px;
			font-weight: 100;
			color: #0c7475;
		}
		#frheading p {
			font-size: 20px;
			font-weight: 100;
			color: black ;
		}
		.navbar.scrolled {
			background-color:#540345;
			transition: background 700ms;
		}
		.info{
			background-color:  #faf1f0;
		}
		
/* 	Css for reg Form Page	 */
		.detailcampusvisit{
			padding-top : 70px;
			padding-bottom : 20px;
		}
		.newreg{
			background:url("https://image.freepik.com/free-photo/abstract-blur-defocused-bookshelf-library_1203-			9640.jpg");
			  background-repeat: no-repeat;
			  background-attachment: scroll;
			  background-position: center center;
			  background-size: cover;
		}
		#campusvisit h2 {
			font-size: 50px;
			font-weight: 100;
			color: #0c7475;
		}
		#campusvisit p {
			font-size: 25px;
			font-weight: 100;
			color: #94036c ;
		}
		.jumbotron.infovisit{
			margin-left:30px;
			background:white;
		}
		.regform{
			padding-bottom:80px;
		}
		
		
/* 	Css for /verification1 Page	 */
		.verif{
			color : green;
		}
		
		header.verifemail {
			  background-image: url("https://getflywheel.com/wp-content/uploads/2015/08/free-blurred-backgrounds.jpg");
			  background-repeat: no-repeat;
			  background-attachment: scroll;
			  background-position: center center;
			  background-size: cover;
			  padding-top: 6rem;
			  padding-bottom:3.74rem;
			}
		
			header.verifemail1 {
			  background-image: url("https://getflywheel.com/wp-content/uploads/2015/08/free-blurred-backgrounds.jpg");
			  background-repeat: no-repeat;
			  background-attachment: scroll;
			  background-position: center center;
			  background-size: cover;
			  padding-top: 5.5rem;
			  padding-bottom:3.4rem;
			}
		
		
/* 		For User Page		 */
		#userpage {
			  padding-top: 10.5rem;
			  padding-bottom: 6rem;
			  text-align: center;
			  color: #fff;
			  background-image: url("https://img.freepik.com/free-photo/empty-wooden-table-with-colorful-smoke-float-up-dark-background_68495-150.jpg?size=626&ext=jpg");
			  /* background-image: url("https://c4.wallpaperflare.com/wallpaper/992/950/442/white-gray-gradation-blur-wallpaper-preview.jpg"); */
			  background-repeat: no-repeat;
			  background-attachment: scroll;
			  background-position: center center;
			  background-size: cover;
			  padding-top: 14rem;
    		  padding-bottom: 10.5rem;
			} 
		#userpage h1{
			color : white;
		}
		
		
	</style>	 -->
</head>
<body>
	
	
<!-- 	Navbar-->
<nav id="main-navbar" class="navbar navbar-expand-md navbar-dark py-0 fixed-top">
  <a class="navbar-brand" href="#"> <header> <img src="https://upload.wikimedia.org/wikipedia/en/3/3a/Ahmedabad_University_logo.png" width="30" height="30"></header></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">HOME</a>
      </li>
	 <li class="nav-item">
        <a class="nav-link" href="/aboutus">ABOUT US</a>
     </li>
    </ul>
	  
	  <ul class="nav navbar-nav navbar-right rightitems ">
		  <% if(!currentUser){ %>
	             <li class="nav-item">
	              <a class="nav-link" href="/login">Login</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="/register">Sign Up</a>
                 </li>
          <% } else { %>
                 <li class="nav-item">
					 <a class="nav-link" href="#"><%= currentUser.username %></a></li>
				<li class="nav-item sgnout">
        			<a class="nav-link" href="/logout">Sign Out</a>
      			</li>		
                  <% } %>
	  
	    
	  </ul>
  </div>
</nav>