<%- include("header") %>
  	
	  <div>	
<!-- 	Put that header here	 -->
		<div id="landing-header">			
            <div class="container">
				<img src="https://upload.wikimedia.org/wikipedia/en/3/3a/Ahmedabad_University_logo.png">
                <h1>
					Ahmedabad
				</h1>
				<h2>
					University
				</h2>
				<a class="btn btn-info btn-lg regbtn hvr-grow"href="/login">Register for Visitors Pass</a> 
				<p>
					<strong>Scroll Down for more information..</strong>
				</p>
				
            </div>
        </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
		
		
	</div>	




        


<!--  Information about ahmedabad univeristy-->
<div class="info">
	<section class="container-fluid px-0">
	<div class="row align-items-center content">
		<div class="col-lg-6 col-sm-12">
			<div id="frheading" class="text-white text-center d-none d-lg-block">
			<h2>ABOUT US</h2>
	<div class="jumbotron aboutus">
			<p class="font-italic">Ahmedabad University is a private, non-profit institution established in 2009. We offer a range of diverse, rigorous academic programmes to enable students to grow into well-rounded leaders. Our programmes include undergraduate, graduate and doctoral studies in areas such as engineering, life sciences, management, arts, and computer science. </p>
		
	</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12">
			<img class="img-fluid" src="https://images.static-collegedunia.com/public/college_data/images/appImage/15004638321443182500AHMEDABADUNIVERSITYNEW.jpg">
		</div>
	</div>

	<!-- Second ROw -->
	<div class="row align-items-center content">
		<div class="col-lg-6 order-2 order-lg-1 col-sm-12">
			<img class="img-fluid" src="https://pbs.twimg.com/media/DcmR_FLXcAEF2Cz.jpg">
		</div>

		<div class="col-lg-6 col-md-10 order-1 order-lg-2 mb-5 mb-md-0">
			<div id="srheading" class="text-pink text-center">
				<h2 class="Museum">PURPOSE</h2>
		<div class="jumbotron purpose">
			<p class="Museum font-italic">Ahmedabad University is dedicated to foster continuous progress of self and society. We aspire to become an exemplar in the transformation of higher education and research in India.Ahmedabad University’s leaders are committed to academic excellence and a liberal education.  </p>			
			</div>
						
			</div>
		</div>
	</div>	
		
<!-- 	Third Row	 -->
		<section class="container-fluid px-0">
	<div class="row align-items-center content">
		<div class="col-lg-6 col-sm-12">
			<div id="frheading" class="text-white text-center d-none d-lg-block">
			<h2>SUPPORT</h2>
	<div class="jumbotron aboutus">
			<p class="font-italic">Ahmedabad University is an unprecedented effort to build a timeless legacy that will bring character and pride to the State of Gujarat and India. Philanthropists have an opportunity to support this venture by making a lasting contribution and investment in today’s youth and the future they will help create as tomorrow’s leaders. Come and join us in shaping the University to serve the new generation of learners, who seek to change the nation and the world through contemplation, knowledge, understanding, and innovation.. </p>
		
	</div>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12">
			<img class="img-fluid" src="https://divisare-res.cloudinary.com/images/c_limit,f_auto,h_2000,q_auto,w_3000/v1455598919/xq7ctmivcf76jsojwryy/vir-mueller-architects-iet-ahmedabad-university.jpg">
		</div>
	</div>

		
</div>

<%- include("footer") %>