<%- include("header") %>
<header class="reqpage">
	<div class="container">
	<div class = "jumbotron requestpage">
		<h1>
		Thank You For Registration...Your Request Has been Generated. You will be confirmed via  your Registered Email
		</h1>

	</div>
</div>
</header>


<%- include("footer") %>